@font-face {
  font-family: "Montserrat";
  src: url("../../assets/font/Montserrat-VF.woff2") format("woff2");
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  height: 100vh;
}

.section {
  min-height: 90%;
}

.section-hero {
  background-image: url("../../assets/img/hero-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}
